# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
.venv\

# Environment
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Data
data/*.csv
data/*.db
